@import "~bootstrap/scss/bootstrap";
@import "./dashboard";

.srcs-fa {
  margin-right: 5px;
}

#srcs-ast {
  display: flex;
  flex-direction: column;
}

.toolbar-item {
  margin-left: 30px;
}

.toolbar-label {
  margin-right: 5px;
  margin-bottom: 0px;
}
